[submodule "hs-duktape"]
	path = hs-duktape
	url = https://github.com/asvyazin/hs-duktape.git
[submodule "epub-metadata"]
	path = epub-metadata
	url = https://github.com/asvyazin/epub-metadata.git
[submodule "hs-onedrive"]
	path = server/hs-onedrive
	url = https://github.com/asvyazin/hs-onedrive.git
[submodule "hs-couchdb"]
	path = server/hs-couchdb
	url = https://github.com/asvyazin/hs-couchdb.git
